@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-image: url('/images/dice.jpg');
}

ol, ul {
  padding-left: 30px;
}

td, th {
  padding: 0 !important;
  width: 0 !important;
  text-align: center;
}

button.square[data-pro="X"] {
  color: rgb(67, 26, 65);
}

button.square[data-pro="O"] {
  color: #26278d;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square-winning {
  background: #3ad33a !important;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
