body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #dee2e67a !important;
}

ol, ul {
  padding-left: 30px;
}

td, th {
  padding: 0 !important;
  width: 0 !important;
  text-align: center;
}

table {
  padding: 0 !important;
  width: 15% !important;
  margin-left: 15px;
  margin-right: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

button.square[data-pro="X"] {
  color: rgb(67, 26, 65);
}

button.square[data-pro="O"] {
  color: blue;
}

.square-winning {
  background: #3ad33a !important;
}

.header-div {
  border: solid 3px red;
  width: fit-content;
  padding: 10px;
  /* padding-left: 10px;
  padding-right: 10px; */
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  margin-left: 20%;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.status-text {
  font-size: large;
  margin-bottom: 10px;
}